body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #00000D;
}
.pickle, .center, .footer {
  margin: auto;
  text-align: center;
}
.footer {
  position: inherit;
  width: 100%;
  font-size: .8em;
}

@media(min-width: 780px) {
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1em;
  }
}
h1 {
  font-weight: 800;
  font-size: 4em;
}
a, .highlight {
  color: #72109C;
}
a:hover {
  color: #00000D;
}
@media(max-width: 780px) {
  img {
    width: 98%;
  }
}